* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header design start ***********************************/

.top-header-dissmissable {
  background-color: #ec5826;
}
.top-header-dissmissable-wrapper {
  padding: 7px;
  text-align: center;
}
.top-header-dissmissable-wrapper p {
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
}

/* main header design **********/

.gobiheat-header-main-wrapper {
  background-color: #ffffff;
  padding: 20px 20px;
}
.wrapper-gobiheat-tight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gobiheat-logo {
  flex-basis: 10%;
  display: flex;
  justify-content: flex-start;
}
.gobiheat-menu-bar img {
  max-width: 40px;
}

.gobiheat-menu-bar {
  display: flex;
  align-items: center;
}

.gobiheat-manu {
  display: flex;
  align-items: center;
}
.gobiheat-menu img {
  max-width: 120px;
  margin-left: 30px;
}
.nav-gobiheat {
  flex-basis: 70%;
}
.nav-gobiheat ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  text-align: left;
  margin-left: 20px;
  padding: 0px 10px;
}
.nav-gobiheat ul li a {
  text-decoration: none;
  color: #3d3b3b;
  font-size: 18px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 600px;
}
.nav-gobiheat ul li a:hover {
  border-bottom: black 1px solid;
}
.nav-gobiheat ul li .chair-gobi-heat {
  color: #a0d4df;
}
.nav-gobiheat .nav-gh-all li {
  margin-right: 30px;
}

.search-btn-gobiheat {
  flex-basis: 12%;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}
.cart-count p {
  background-color: #ec5826;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  color: white;
  right: 0;
}
.cart-count p:hover {
  background-color: #ffffff;
  color: black;
}
.search-gh {
  margin-right: 15px;
}
.search-gh img {
  max-width: 20px;
}
.user-gh {
  margin-left: 10px;
}
.user-gh img {
  max-width: 30px;
}

.cart-gh {
  margin-left: 10px;
}
.cart-gh img {
  max-width: 30px;
}
.cart-hover-effect {
  display: none;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  right: 0;
  width: 400px;
  height: 100px;
  top: 0;
  margin-top: 20px;
}
.cart-hover-effect span {
  color: rgb(18, 17, 17);
  font-size: 18px;
  font-weight: 600;
  font-family: Source Sans Pro, sans-serif;
  text-transform: capitalize;
}
.cart-count {
  position: relative;
}
.cart-count:hover .cart-hover-effect {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-hover-effect:hover .cart-count p {
  background-color: #ffffff;
}
.nav-verticle-menu ul {
  position: absolute;
  display: none;
  min-width: 200px;
  width: 100%;
  top: 55px;
  bottom: 100%;
  left: -85%;
  z-index: 1;
  border-radius: 4px;
}
.nav-verticle-menu ul li .shop-all-top {
  border-top: 6px solid #ec5826;
}
.nav-verticle-menu ul li a {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  color: #000;
  font-size: 16px;
  font-family: Source Sans Pro, sans-serif;
  line-height: 1.2;
  font-weight: 500;
  transition: opacity 0.5s ease-in;
}
.gh-dd-navlink {
  position: relative;
}
.gh-dd-navlink:hover .nav-verticle-menu ul {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.nav-verticle-menu ul:hover .nav-verticle-menu ul {
  display: flex;
}
.gobiheat-menu-bar-two {
  display: none;
}

@media only screen and (max-width: 576px) {
  .nav-gobiheat {
    display: none;
  }
  .search-gh,
  .user-gh {
    display: none;
  }
  .gobiheat-menu-bar {
    display: none;
  }
  .gobiheat-menu img {
    max-width: 90px;
    margin-left: 0;
  }
  .gobiheat-menu-bar-two {
    display: flex;
    max-width: 30px;
    margin-left: 15px;
  }
  .gobiheat-menu-bar-two img {
    max-width: 30px;
  }
  .cart-count p {
    right: 45px;
  }
}
@media only screen and (max-width: 768px) {
  .search-btn-gobiheat {
    flex-basis: 30%;
  }
  .search-gh,
  .user-gh {
    display: flex;
  }
  .nav-gobiheat {
    display: none;
  }
  .gobiheat-menu-bar {
    display: none;
  }
  .gobiheat-menu img {
    margin-left: 0;
    max-width: 90px;
  }
  .gobiheat-menu-bar-two {
    display: flex;
    max-width: 30px;
    margin-left: 15px;
  }
  .cart-count p {
    right: 45px;
  }
}
@media only screen and (max-width: 900px) {
  .nav-gobiheat ul {
    display: none;
  }
}
@media only screen and (max-width: 968px) {
  .nav-gobiheat ul li a {
    font-size: 14px;
  }
  .gobiheat-header-main-wrapper {
    padding: 15px;
  }
}

/* header design ends ***************************************************/

/* hero design start *******************************/

.hero-wrapper {
  position: relative;
}

.hero-gobiheat {
  position: absolute;
  max-width: 550px;
  width: 100%;
  top: 30%;
  bottom: 20%;
  left: 20%;
}

.heading-hero-gobiheat h2 {
  font-size: 58px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 30px;
}
.heading-hero-gobiheat p {
  color: #ffff;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 1.2;
}

.button-hero-gobiheat button:hover {
  background-color: #333333;
  color: #ec5826;
}
.button-hero-gobiheat button {
  margin-right: 25px;
  padding: 14px 28px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 0;
  background-color: #ec5826;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .hero-img {
    max-width: 100%;
    height: auto;
  }

  .hero-gobiheat {
    position: absolute;
    max-width: 550px;
    width: 100%;
    top: 20%;
    bottom: 0;
    left: 10%;
  }
  .heading-hero-gobiheat h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .heading-hero-gobiheat p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .button-hero-gobiheat button {
    padding: 12px 28px;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-img {
    max-width: 100%;
    height: auto;
  }
  .hero-gobiheat {
    max-width: 550px;
    width: 100%;
    top: 10%;
    bottom: 0;
    left: 10%;
  }
  .heading-hero-gobiheat h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .heading-hero-gobiheat p {
    font-size: 16px;
    font-weight: 500;
  }
  .button-hero-gobiheat button {
    width: 50%;
    padding: 12px 14px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-img {
    max-width: 100%;
  }
  .hero-img img {
    height: 300px;
    object-fit: cover;
  }
  .hero-gobiheat {
    position: absolute;
    max-width: 335px;
    width: 100%;
    top: 5%;
    bottom: 0;
    left: 0;
    padding: 20px;
  }
  .heading-hero-gobiheat h2 {
    font-size: 24px;
    max-width: 250px;
  }
  .heading-hero-gobiheat p {
    font-size: 16px;
    font-weight: 500;
  }
  .button-hero-gobiheat button {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 10px;
  }
}
/* hero design ends *******************************/

/* brand design start **********************************/

.brand-design {
  background-color: #ffffff;
  padding: 60px 0px;
  margin-bottom: 70px;
}
.heading-brand {
  text-align: center;
  margin-bottom: 40px;
}
.heading-brand h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 1.2;
  color: #d1c9c9;
}

.brands-wrapper-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

@media only screen and (max-width: 576px) {
  .brands-wrapper-main {
    flex-direction: column;
  }
  .brand-design {
    padding: 20px 0px;
  }
  .brands-wrapper-main div img {
    margin-bottom: 20px;
    max-width: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .brands-wrapper-main {
    flex-direction: column;
  }
  .brands-wrapper-main div img {
    margin-bottom: 20px;
  }
  .brand-design {
    padding: 30px 0px;
  }
}

/* brand design ends **********************************/

/* products design start *************************/

.gh-products-main {
  background-color: #ffffff;
  margin-bottom: 200px;
}

.heading-products h2 {
  font-size: 36px;
  line-height: 50px;
  margin: 0 0 45px;
  padding: 0;
  font-family: sans-serif;
  color: #333333;
}

.gh-products-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.gh-details-block {
  flex-basis: 32%;
  text-align: start;
  overflow: hidden;
  position: relative;
}

.gh-block-img {
  max-width: 100%;
  height: auto;
}

.gh-bottom-details {
  padding-left: 30px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 0 0 5px 5px;
  margin-bottom: 30px;
}
.gh-bottom-details h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  color: #333333;
}
.gh-bottom-details a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #ec5826;
}
.gh-bottom-details a:hover {
  color: #8ac9d8;
}

@media only screen and (max-width: 576px) {
  .gh-products-main {
    margin-bottom: 100px;
  }

  .heading-products h2 {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 35px;
  }
  .gh-details-block {
    flex-basis: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .gh-products-main {
    margin-bottom: 100px;
  }

  .heading-products h2 {
    font-size: 34px;
    line-height: 30px;
    margin: 0 0 35px;
  }
  .gh-details-block {
    flex-basis: 50%;
  }
}

/* products design ends *************************


/* gh special section design start ******************************/

.special-gh-main {
  background-color: #ffffff;
  margin-bottom: 80px;
}

.gh-special-heading h2 {
  font-size: 36px;
  line-height: 1.5;
  margin: 0 0 60px;
  padding: 0;
  font-family: sans-serif;
  font-weight: 700;
  color: #333333;
}

.gh-special-section-wrap-main {
  display: flex;
  justify-content: space-between;
}

.gh-special-ls-wrap {
  flex-basis: 49%;
}

.gh-special-rs-wrap-main {
  flex-basis: 49%;
}
.gh-single-heading h4 {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}
.gh-single-ls-icons {
  flex-basis: 20%;
}
.gh-single-rs-icon {
  display: flex;
  justify-content: flex-end;
  flex-basis: 20%;
}

.gh-special-rs-single-wrap {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  padding: 18px 30px;
  border-radius: 5px;
}

.gh-single-ls-icons img {
  max-width: 45px;
}
.gh-single-heading {
  flex-basis: 60%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  font-family: sans-serif;
}

.gh-single-rs-icon img {
  max-width: 13px;
}

.gh-special-rs-single-button {
  background-color: #ec5826;
  text-align: center;
  padding: 18px 30px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.gh-special-rs-single-button a {
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  border-radius: 5px;
  text-decoration: none;
  max-width: 100%;
}

.gh-special-rs-single-button:hover {
  background-color: #3d3b3b;
}
.gh-special-rs-single-button:hover a {
  color: #ec5826;
}

@media only Screen and (max-width: 576px) {
  .gh-special-section-wrap-main {
    flex-direction: column;
  }
  .gh-special-heading h2 {
    font-size: 30px;
  }
  .gh-special-ls-wrap {
    flex-basis: 100%;
  }
  .gh-special-rs-wrap-main {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .gh-special-section-wrap-main {
    flex-direction: column;
  }
  .gh-special-heading h2 {
    font-size: 30px;
  }
  .gh-special-ls-wrap {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  .gh-special-rs-wrap-main {
    flex-basis: 100%;
  }
  .gh-special-ls-wrap img {
    width: 100%;
    object-fit: fill;
  }
}

/* gh special section design ends ******************************/

/* gh-womens-wrap-section-design-start *******************************/

.womens-side-to-side-section-main {
  /* margin-bottom: 50px; */
}

.womens-main-wrapper {
  display: flex;
  justify-content: space-between;
}

.womens-details-wrap {
  /* border: 1px solid black; */
  flex-basis: 50%;
  background-color: #ec5826;
  padding: 30px;
  box-sizing: border-box;
}
.womens-with-dog-wrap img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
}
.womens-with-dog-wrap {
  /* border: 1px solid black; */
  flex-basis: 50%;
}
.womens-with-dog-main {
  max-width: 100%;
  height: auto;
}
.womens-details {
  margin-left: 50px;
  max-width: 455px;
}
.womens-details a {
  font-size: 36px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  line-height: 1.5;
}
.womens-details p {
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 1.5;
  color: #ffff;
  margin-top: 30px;
}

@media only screen and (max-width: 576px) {
  .womens-main-wrapper {
    flex-direction: column;
  }
  .womens-details-wrap {
    flex-basis: 100%;
    order: 2;
    max-width: 100%;
    margin: 0;
  }
  .womens-with-dog-wrap {
    flex-basis: 100%;
  }
  .womens-with-dog-wrap img {
    height: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .womens-main-wrapper {
    flex-direction: column;
  }
  .womens-details-wrap {
    flex-basis: 100%;
    order: 2;
    height: auto !important;
  }
  .womens-with-dog-wrap {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 1080px) {
  .womens-with-dog-wrap img {
    height: 100% !important;
    aspect-ratio: 1/1;
  }
}

/* gh-womens-wrap-section-design-ends *******************************/

/* gh perfect section design start *********************************************/
.gh-block-main {
  padding: 100px 100px;
  background-color: #f0f0f0;
}

.gh-perfect-block-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gh-block-perfect-heading {
  margin-bottom: 40px;
}
.gh-block-perfect-heading h3 {
  font-size: 40px;
  font-weight: 600;
  font-family: sans-serif;
  color: #3d3b3b;
}

.gh-perfect-block-single {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  flex-basis: 19.75%;
  background-color: #4fbbd6;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 4px;
}
.gh-perfect-block-single a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
}
.gh-perfect-block-single-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 45.25%;
  background-color: #333333;
  margin-bottom: 10px;
  padding: 12px 24px;
  border-radius: 4px;
}
.gh-perfect-block-single-wrap p {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 0;
  font-family: sans-serif;
  text-align: center;
}

.gh-perfect-block-single img {
  max-width: 18px;
  background-color: #000;
  padding: 5px;
  border-radius: 4px;
}

.gh-perfect-block-single:hover {
  background-color: #333333;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .gh-block-main {
    padding: 5px;
  }
  .gh-block-perfect-heading h3 {
    font-size: 26px;
    margin-top: 20px;
  }
  .gh-perfect-block-single {
    flex-basis: 100%;
  }
  .gh-perfect-block-single-wrap {
    flex-basis: 100%;
  }
  .gh-perfect-block-single-wrap P {
    line-height: 1.2;
  }
}
@media only screen and (max-width: 768px) {
  .gh-block-main {
    padding: 5px;
  }
  .gh-perfect-block-single {
    flex-basis: 40% !important;
  }
  .gh-perfect-block-single-wrap {
    flex-basis: 100%;
    justify-content: center;
  }
  .gh-perfect-block-single-wrap P {
    line-height: 1.2;
  }
}
@media only screen and (max-width: 980px) {
  .gh-block-main {
    padding: 5px;
  }
  .gh-perfect-block-single {
    flex-basis: 43%;
  }
  .gh-perfect-block-single-wrap {
    flex-basis: 100%;
    justify-content: center;
  }
  .gh-perfect-block-single-wrap P {
    line-height: 1.2;
  }
}
@media only screen and (max-width: 1080px) {
  .gh-block-main {
    padding: 5px;
  }
  .gh-perfect-block-single-wrap {
    flex-basis: 100%;
    justify-content: center;
    padding: 24px 24px;
  }
  .gh-perfect-block-single {
    flex-basis: 25%;
  }
}

/* gh perfect section design ends *********************************************/

/* video section design start ********************/

.video-main-wrap iframe {
  z-index: 5;
}
.video-section-main {
  background-color: #000;
  padding-bottom: 20px;
}

.video-main-wrap {
}

/* video section design ends ********************/

/* customer review section design start */

.review-section {
  background-color: #333333;
}
.customer-review-section-wrap {
  padding: 130px 0px;
}

.review-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-heading {
  flex-basis: 50%;
}
.review-heading h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 1.2;
  color: #ffffff;
}
.review-heading P {
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 2px;
}
.review-heading p span {
  margin-right: 15px;
}

.cutomers-review-parts {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}

.cutomers-review-block {
  background-color: #3d3d3d;
  flex-basis: 32%;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.review-img {
  margin-bottom: 20px;
}
.block-heading {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ffffff;
  margin-top: 15px;
}
.block-pera {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: sans-serif;
  color: #ffffff;
}
.block-name-bottom {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: sans-serif;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}
.block-link-bottom {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: sans-serif;
  color: #ec5826;
  text-decoration: none;
}
.button-review {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.button-review-arrow img {
  max-width: 22px;
}
.button-review-arrow-right img {
  max-width: 22px;
}
.button-review-arrow {
  margin-right: 15px;
}

/* cutomer review section design ends */

/* blog post design start */

.blog-post-main {
  background-color: #f7f7f7;
  padding: 50px 0px;
}
.blog-post-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.blog-post-heading h2 {
  font-size: 26px;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 1.2;
  color: #333333;
}
.blog-post-heading a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #ec5826;
}
.blog-post-heading a:hover {
  color: #4fbbd6;
}
.blog-post-details-camping {
  background-color: #ffffff;
  padding-top: 100px;
  border-radius: 4px;
  padding-left: 15px;
}
.blog-post-details-fishing {
  background-color: #ffffff;
  padding-top: 50px;
  border-radius: 4px;
  padding-left: 15px;
}
.blog-post-details-hunting {
  background-color: #ffffff;
  padding-top: 20px;
  border-radius: 4px;
  padding-left: 15px;
}
.blog-post-details-camping h3 a,
.blog-post-details-hunting h3 a,
.blog-post-details-fishing h3 a {
  font-size: 22px;
  line-height: 1.3;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #333333;
}
.blog-post-details-camping p,
.blog-post-details-hunting p,
.blog-post-details-fishing p {
  font-size: 16px;
  line-height: 21px;
  color: #202020;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 20px;
  padding-right: 15px;
}
.blog-post-main-wrap {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.camping-tips-blog-post {
  flex-basis: 48%;
}
.blog-img img {
  width: 100%;
  height: 264px;
  object-fit: cover;
  cursor: pointer;
}

.button-blog-arrow-camping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  margin-top: 152px;
  cursor: pointer;
}
.button-blog-arrow-fishing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  margin-top: 105px;
}

.button-blog-arrow-hunting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  margin-top: 77px;
}
.button-blog-arrow-camping span svg,
.button-blog-arrow-fishing span svg,
.button-blog-arrow-hunting span svg {
  padding: 27px 25px;
  border-radius: 5px 0 5px 0;
  cursor: pointer;
}
.camping-tips-blog-post:hover .button-blog-arrow-camping span svg {
  background-color: #4fbbd6;
}

.stay-warm-blog-post {
  flex-basis: 24%;
}
.stay-warm-blog-post:hover .button-blog-arrow-fishing span svg {
  background-color: #4fbbd6;
}

.hunters-blog-post {
  flex-basis: 24%;
}
.hunters-blog-post:hover .button-blog-arrow-hunting span svg {
  background-color: #4fbbd6;
}
.button-blog-arrow-camping a,
.button-blog-arrow-fishing a,
.button-blog-arrow-hunting a {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  font-family: sans-serif;
  font-weight: 600;
  color: #4fbbd6;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 30px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-blog-arrow-hunting a:hover,
.button-blog-arrow-camping a:hover,
.button-blog-arrow-fishing a:hover {
  color: #ec5826;
}
